@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.ff_mont{
  font-family: 'Montserrat', sans-serif !important;
}
.shadow{
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07) !important;
}
.bg_clrh:hover{
  background-color: #2D4059;
  transition: all 300ms linear !important;
}
.bg_clrh:hover .txt_clr{
  color: white !important;
  transition: all 300ms linear !important;

}
.opcty{
  opacity: 0;
}
.bg_clrh:hover .opcty{
  opacity: 1;
  transition: all 300ms linear !important;

}
html,body{
  scroll-behavior: smooth;
}
.over_hidden{
  overflow:  hidden !important;
}
.shdow:hover{
  box-shadow: 0px 0px 7px 3px #96bb7c;
  transition: all 300ms linear !important;
  /* border: none; */
}